<tr>
  <td><%= resource.id %></td>
  <td><%= link_to 'Показать', vans_path(resource) %></td>
  <td><%= link_to 'Изменить', edit_van_path(resource) %></td>
  <td><%= link_to 'Удалить', vans_path(resource), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
